
@import "variabelspastell.css";
@import "pastell.css";

@keyframes change-header {
    
   from{ background-color:var(--pastellheaderbg); }
   to { background-color:var(--a-pastellheaderbg);}
}

@keyframes change-meny {
    from{ background-color:var(--pastellmenybg);}
    to{ background-color:var(--a-pastellmenybg);}
}

@keyframes change-main {
    from{ background-color:var(--pastellmainbg);}
    to{ background-color:var(--a-pastellmainbg);}
}

@keyframes change-right {
    from{ background-color:var(--pastellrightbg);}
    to{ background-color:var(--a-pastellrightbg);}
}

@keyframes change-footer{
    from{ background-color:var(--pastellfooterbg);}
    to{ background-color:var(--a-pastellfooterbg);}
}

header {
    animation: change-header 1s alternate infinite;
}

menu {
    animation: change-meny 2s alternate infinite;
}

main {
    animation: change-main 3s alternate infinite;
}

footer {
    animation: change-footer 2s alternate infinite;
}

.right {
    animation: change-right 1s alternate infinite;
}