@import "pastell.css";
@import "animaion-pastell.css";
@import "variabelspastell.css";
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    display:flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.container {
display: flex;
flex-direction: column;
width: 40rem;
margin-top:10rem;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

header {
    height:5rem;
    display:flex;
    align-items: center;
    justify-content: center;
    
}

.meny {
    flex: 1;
    display:flex;
    align-items: center;
    justify-content: center;

}
.third {
    flex-direction: column;
    display: flex;
    flex:3;
    
}
.rest {
    flex:3;
    display:flex;
    flex-direction:row;
   
}


menu {
    flex:1;
    height:10rem;
    display:flex;
    align-items: center;
    justify-content: center;
    
}


.rest main {
    flex:2;
    display:flex;
    align-items: center;
    justify-content: center;
    
}

.rest .right{
    flex:1;
    display:flex;
    align-items: center;
    justify-content: center;
}

footer {
    height: 5rem;
    display:flex;
    align-items: center;
    justify-content: center;   
}