

@import "pastell.css";
@import "variabels.css";

* {
    margin:0;
    padding:0;
}

body {
    display:flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.container {
display: flex;
flex-direction: column;
width: 40rem;
margin-top:10rem;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

header {
    height:5rem;
    border:1px solid black;
   text-align: center;
    
}

.meny {
    flex: 1;
    display:flex;
    text-align: center;
}
.third {
    flex-direction: column;
    display: flex;
    flex:3;
    
}
.rest {
    flex:3;
    display:flex;
    flex-direction:row;
   
}


menu {
    flex:1;
    height:10rem;
    border: 1px solid black;
    
}


.rest main {
    flex:2;
    display:flex;
    border: 1px solid black;
    justify-content: center;
    
}

.rest .right{
    flex:1;
    display: flex;
    border: 1px solid black;
    justify-content: center;
}

footer {
    display: flex;
    flex: 1;
    height: 5rem;
    border: 1px solid black;
    justify-content: center;
}